Brewfile.lock.json
nvim/plugin/packer_compiled.lua
.DS_Store
karabiner/automatic_backups/
oh-my-zsh/custom/themes/powerlevel10k
oh-my-zsh/custom/plugins/zsh-autosuggestions
oh-my-zsh/custom/plugins/zsh-syntax-highlighting
dotbot
